form#contact-form(method='post', action='users/register', role='form')
  .messages
  .controls
    h4 아이디등록 (ID register)
    .row
      .col-md-4
        .form-group
          label 사용할 아이디(ID) *
          input#form_id.form-control(type='text', name='id', placeholder='', required='required', data-error='ID is required.')
          .help-block.with-errors
    h4 개인정보(Personal Info.)
    .row
      .col-md-4
        .form-group
          label 이름(Name) *
          input#form_name.form-control(type='text', name='name', placeholder='홍길동', required='required', data-error='Name is required.')
          .help-block.with-errors
      .col-md-4
        .form-group
          label(for='form_need') 성별(Gender) *
          select#form_need.form-control(name='gender', required='required', data-error='Please specify your need.')
            option(value='Male') 남자(Male)
            option(value='Female') 여자 (Female)
          .help-block.with-errors
      .col-md-4
        .form-group
          label(for='form_message') 나이(Age) *
          input.form-control(type='number', name='age')
      .col-md-12
        input.btn.btn-success.btn-send(type='submit', value='등록 (Register)')
