doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
  body
    block content
    src('jquery.min.js')
    src('js/bootstrap.min.js')
